{%extends "base.html"%}
{%block body%}

<h1>Join</h1>

To join, you must specify your <b>invite token</b>.  To get your invite token, visit <a href="http://warlight.net/InviteToken">http://warlight.net/InviteToken</a>.  You can copy/paste it from that page to this one.

<form action="{%url players.new%}" method="post">
    <table>
        {{form}}
        <tr>
            <td>
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
</form>

{%endblock%}
